@import url('https://fonts.googleapis.com/css2?family=Acme&family=Bungee&family=Pacifico&family=Poppins:wght@400;500;600;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

        body{
            padding: 80px;
            height: 100vh;
            justify-self: center;
            /* background-color: rgb(126, 124, 124); */
        }

        .kotak {
            background-color: rgb(255, 255, 255);
            height: auto;
            width: auto;
            border: 2px solid rgb(150, 150, 150); 
            align-content: center;
            padding: 5px 5px;
            border-style: dashed;
        }

        /* Kotak 1 */
        .isi1 {
            /* padding: 5px 5px; */
            display: flex;
            gap: 5px;
            justify-self: center;
        }

        

        .logo {
            border: 1px solid black;
        }

        .isilogo {
            display: flex;
            padding: 0 5px;
            margin-top: -10px;
            gap: 20px;
        }

        .isilogo img {
            width: 120px;
            height: 120px;
            margin-top: 20px;
            object-fit: cover;
            border-right: 1px solid rgb(190, 188, 188);
            padding: 5px;
        }

        .bagiankanan {
            padding-top: 10px;
        }

        
        .tulisan {
            font-size: 70px;
            font-weight: 600;
            color: rgb(37, 110, 153);
            margin-top: 20px;
            /* background-color: aqua; */
        }

        .tulisan2 {
            margin-top: -85px;
            font-size: 13px;
            text-align: center;
            color: rgb(122, 121, 121);
        }

        .tulisan3 {
            margin-top: -11px;
            font-size: 16px;
            color: rgb(61, 61, 61);
        }

        .bawah {
            line-height: 5px;
            font-size: 35px;
            padding: 0 15px;
            text-align: center;
            color: rgb(37, 110, 153);
            font-weight: 600;
            border-top: 1px solid rgb(190, 188, 188);
            margin-bottom: -20px;
        }

        .bawah1 {
            font-size: 30px;
            /* font-weight: 100; */
            text-align: center;
        }

        .bawah2 {
            font-size: 38px;
        }

        /* Kotak 2 */
        .isi2 {
            margin-top: 5px;
            border: 1px solid rgb(180, 178, 178);
        }

        .isi2 table {
            padding: 3px 5px;
            color: rgb(59, 92, 155);
        }

        .jawaban {
            color: rgb(51, 50, 50);
            font-size: 12px;
        }

        .isi3 {
            margin-top: 5px;
            border: 1px solid rgb(180, 178, 178);
            padding: 10px 5px;
        }

        .tabel1 {
            margin-left: 35px;
        }

        td {
            color: rgb(59, 92, 155);
            font-size: 12px;
        }

        label {
            color: rgb(72, 49, 202);
            font-weight: 800;
        }

        .tulisan4 {
            margin-left: 177px;
            font-family: "Roboto";
            color: red;
            margin-top: 0;
            font-weight: 800;
            font-size: 12px;
        }

        .jawaban2 {
            color: rgb(51, 50, 50);
            font-size: 12px;
            padding-bottom: 25px;
        }

        .judullok {
            color: rgb(51, 50, 50);
            font-size: 12px;
            padding-top: 15px;
            color: rgb(59, 92, 155);
            font-size: 12px;
        }

        .jawaban3 {
            padding-top: 15px;
            color: rgb(51, 50, 50);
            font-size: 12px;
        }

        .isi4 {
            display: flex;
            gap: 5px;
            margin-top: 5px;
            max-height: 230px;
        }
        .kotakkiri{
            border: 1px solid rgb(180, 178, 178);
            max-width: 350px;
            padding: 5px 5px;
        }

        .kotakkiri table{
            margin-left: 30px;
        }

        .kotakkanan{
            border: 1px solid rgb(180, 178, 178);
        }

        .kotakkanan img{
           padding: 10px;
           width: 241px;
           height: 210px;
           object-fit: cover;
        }

        .nomor {
            display: flex;
            gap: 10px;
            margin-top: 10px;
        }

        .foto {
            border: 1px solid rgba(0, 0, 0, 0.616);
            height: 100%;
            /* background-color: brown; */
            align-self: center;
            padding: 5px 5px;
            
        }

        .foto img {
            width: 205px;
            height: 270px;
            object-fit: cover;
        }

        .label2 {
            color: rgb(72, 49, 202);
            font-weight: 800;
            font-size: 10px;
            line-height: 13px;
        }
        